@font-face {
    font-family: 'FK-roaster';
    src: url('FKRasterGroteskCompactTrial-Rounded.woff2') format('woff2'),
        url('FKRasterGroteskCompactTrial-Rounded.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

