/*------------------------------------------------------------------

[Table of contents]
1. General styles
2. The list nav
3. Home UI 
4. Border
5. Subpage 
6. Mobile breakpoint
7. Effects
-------------------------------------------------------------------*/

@import url(css/fonts/stylesheet-hanson.css);
@import url(css/fonts/stylesheet-fk-raster.css);
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500&display=swap');

/*------------------------------------------------------------------
[1. General styles]
*/

:root {

    --bg-salmon: #ffb592;
    --bg-purple: #a792ff;
    --bg-gray: #f3f3f3;
    --bg-gaqua: #baf7c7;
}


html {
    font-size: 62.5%
}

body,
html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;

}

body {
    font-size: 1vw;
    color: #FFF;
    min-width: 300px;
    min-height: 300px;
    font-family: 'Roboto Mono', Arial, sans-serif, monospace;
    font-weight: 400;
    transition: .5s background ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

body * {
    cursor: url('images/cursor/cursor.svg'), url('images/cursor/cursor.png'), url('images/cursor/cursor.cur'), default;
}

h1 {
    letter-spacing: .5vw;
    font-family: 'Hanson', 'Titillium Web', Helvetica, Arial, sans-serif;
    line-height: 2.8vw;
    font-size: 3vw;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
}

h2 {
    letter-spacing: .5vw;
    font-family: 'Hanson', 'Titillium Web';
    line-height: 8vw;
    padding-left: 0;
    margin: .3em 0 .5em;
    position: relative;
    font-size: 9vw;
    font-weight: 900;
    color: transparent;
    text-transform: uppercase;
    text-stroke: .2vw #000;
    -webkit-text-stroke: .2vw #000;
}

h2 span {
    transition: 1s color ease;
    display: inline-block;
}

h2 span.Active {
    color: #000;
    transition: .3s color ease;
    white-space: pre-wrap;
}

h2 span.Active:empty {
    padding: 0px 8px;
    display: inline-block;
}

h3 {
    font-size: 3vw;
    font-weight: 400;
}


.hanson-font,
.text-hanson {
    font-family: 'Hanson', Helvetica, Arial, sans-serif !important;
}

.fkroaster-font,
.text-fkroaster {
    font-family: 'FK-roaster', Monaco, Arial, sans-serif !important;
}

.ibmplex-font,
.text-ibmplex {
    font-family: 'IBM Plex Mono', monospace !important;
}

.fonima-web-page .title,
.fonima-web-page h1 {
    font-size: 70px;
    font-size: 7rem;
    font-family: 'Hanson', Helvetica, Arial, sans-serif;
}

.fonima-web-page .subtitle,
.fonima-web-page h2 {
    font-size: 50px;
    font-size: 5.0rem;
    font-family: 'Hanson', Helvetica, Arial, sans-serif;
    text-stroke: 0 transparent;
    -webkit-text-stroke: 0 transparent;
    letter-spacing: normal;
    margin-bottom: 0px;
    line-height: normal;
    margin-top: 40px;
}


h1.top-img-logo {
    width: 200px;
}

h1.top-img-logo img {
    width: 100%;
    height: auto;
}

h1.top-logo {
    font-size: 3vw;
    word-spacing: 0;
    background: url("../images/logos/fonima-logo.svg") no-repeat 0px 0px / 100%;
    width: 200px;
    min-height: 100px;
    left: 0px;
    text-indent: -9999px;
}

h1.top-logo span {
    visibility: hidden;
    width: 0px;
}

.sub-subtitle,
h3,
h4 {
    font-size: 25px;
    font-size: 2.5rem;
    font-family: 'Hanson', Helvetica, Arial, sans-serif;
}

.outline-title {
    color: transparent;
    text-transform: uppercase;
    text-stroke: 1px #000;
    -webkit-text-stroke: 1px #000;
    letter-spacing: 2px;
}

.p-text {
    font-size: 14px;
    font-size: 1.4rem;
    font-family: 'IBM Plex Mono', monospace;
}

.p-text-12 {
    font-size: 12px;
    font-size: 1.2rem;
    font-family: 'IBM Plex Mono', monospace;
}

.link-text {
    font-size: 14px;
    font-size: 1.4rem;
    font-family: 'IBM Plex Mono', monospace;
}

.btn-text {
    font-size: 9px;
    font-family: 'IBM Plex Mono', monospace;
}

.sub--section {
    background-color: var(--bg-gray);
}

.bg-section {
    background-position: fixed;
    background-size: cover;
}

.bg-1,
.about-content {
    background: var(--bg-gray) url('images/backgrounds/BG-1.png') no-repeat 0px 0px / cover;
}

.bg-2 {
    background: var(--bg-gray) url('images/backgrounds/BG-2.png') no-repeat 0px 0px / cover;
}

.bg-3 {
    background: var(--bg-gray) url('images/backgrounds/BG-3.png') no-repeat 0px 0px / cover;
}

.bg-4,
.programacion-content {
    background: var(--bg-gray) url('images/backgrounds/BG-4.png') no-repeat 0px 0px / cover;
}

.bg-5,
.programacion-content-bc {
    background: var(--bg-salmon) url('images/backgrounds/BG-5.png') no-repeat 0px 0px / cover !important;
}

.bg-6,
.programacion-content-cdmx {
    background: var(--bg-gaqua) url('images/backgrounds/BG-6.png') no-repeat 0px 0px / cover !important;
}

.bg-7,
.programacion-content-trc {
    background: var(--bg-purple) url('images/backgrounds/BG-7.png') no-repeat 0px 0px / cover !important;
}

.bg-8,
.gifs-content {
    background: var(--bg-gaqua) url('images/backgrounds/BG-8.png') no-repeat 0px 0px / cover;
}

.bg-9,
.gifs-ganadores-2019 {
    background: var(--bg-gray) url('images/backgrounds/BG-9.png') no-repeat 0px 0px / cover !important;
}

.bg-10,
.gifs-bases-2020 {
    background: var(--bg-gray) url('images/backgrounds/BG-10.png') no-repeat 0px 0px / cover !important;
    background-blend-mode: hard-light;
}

.conciertos-content {
    background-color: var(--bg-gaqua) !important;
    background: var(--bg-gaqua) url('images/backgrounds/BG-10.png') no-repeat 0px 0px / cover;
    background-blend-mode: hard-light;
}

.bg-11,
.gifs-ganadores-2020 {
    background: var(--bg-gray) url('images/backgrounds/BG-11.png') no-repeat 0px 0px / cover !important;
}

.bg-12,
.contact-content {
    background: var(--bg-gray) url('images/backgrounds/BG-12.png') no-repeat 0px 0px / cover;
}

#OverBG {
    background-size: cover;
}

.Page {
    display: block;
}

a.btn {
    width: 180px;
    height: 32px;
    line-height: 32px;
    background: none;
    color: #000 !important;
    text-decoration: none !important;
    display: block;
    text-align: center;
    cursor: pointer !important;

}

a.btn.btn-ouline {
    border: 1px solid #000 !important;
    transition: .3s all ease;
}

a.btn.btn-ouline:hover,
a.btn.btn-ouline:focus {
    background-color: #000;
    color: #fff !important;
}


/*------------------------------------------------------------------
[2. The list nav]
*/

.TheList {
    width: 100%;
    position: relative;
    perspective-origin: 50% 50%;
    perspective: 150vw;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.TheList__Wrapper {
    position: relative;
    width: 100%;
    transform: translateZ(0);
    transform-style: preserve-3d;
    padding-right: 5vw;
    padding-top: 10vw;
    padding-bottom: 3vw;
    box-sizing: border-box;
}

.TheList__List {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 0;
    padding: 0;
    transform-style: preserve-3d;
    list-style-type: none;
}

.TheList li {
    padding: 1em 0 1em 3em;
    margin: 0 0;
    transition: transform 1.5s cubic-bezier(.075, .82, .165, 1);
    transform-origin: left center;
    display: block;
    transform-style: preserve-3d;
    transform: rotateY(0) translateZ(0) scale(1);
}

.TheList a {
    text-align: left;
    text-decoration: none;
    position: relative;
    display: block;
}

.TheList li:hover {
    transform: rotateY(0) translateZ(0) scale(1);
    transition-duration: 1s;
}

.TheList .TheList__EntryDetails {
    position: absolute;
    top: 4.2em;
    left: 0;
    width: 4em;
    color: #000;
    display: inline-block;
    transition: .3s color ease;
    z-index: 5;
}

.TheList .TheList__Title {
    display: inline-block;
    letter-spacing: .5vw;
    font-size: 70px;
    font-size: 7rem;
    font-family: 'Hanson', 'Titillium Web';
    line-height: 7vw;
    transition: .3s color ease;
    padding-left: 2vw;
    margin-left: 0vw;
    position: relative;
    font-weight: 900;
    color: transparent;
    text-transform: uppercase;
    text-stroke: .2vw #000;
    -webkit-text-stroke: .2vw #000;
}

.TheList .TheList__Title::before {
    width: .2vw;
    height: 5vw;
    position: absolute;
    top: 5px;
    left: 0;
    background: #000;
    display: block;
    content: ' ';
    transform: none;
    transition: .5s transform ease;
    transform-origin: 100% 0;
}

.TheList .TheList__Title i {
    z-index: -1;
    transition: .6s opacity ease;
    transform: translate3d(0, 0, 0);
    text-stroke: .2vw #fff;
    opacity: 0;
    -webkit-text-stroke: .2vw #fff;
    top: 0;
    font-style: normal;
    position: absolute;
    left: 3vw;
    display: block;
    color: transparent !important;
}

.TheList.IsScrolling i {
    opacity: 1
}

.TheList a:hover .TheList__Title {
    color: #000;
}

.TheList a:hover .TheList__Title::before {
    transform: scaleX(30);
}

.TheList a:hover .TheList__EntryDetails {
    color: #000;
}

.NavImages {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.NavImages>div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: .3s opacity ease;
}

.NavImages>div.Active {
    opacity: .1;
}

/*------------------------------------------------------------------
[3. Home UI]
*/

.HomeUi {
    transition: .5s color ease;
    font-family: 'IBM Plex Mono', monospace;
}

.HomeUi a {
    color: #000;
    text-decoration: none;
    transition: .5s color ease;
}

.HomeUi a:hover {
    font-weight: 700;
}

.HomeUi__Header {
    position: fixed;
    top: 3vw;
    right: 3vw;
    z-index: 15;
}

.HomeUi__Header h1 {
    text-align: right;
    margin: 0;
}

.HomeUi__Header img {
    display: block;
    max-width: 260px;
}

.HomeUi__Header h1 span {
    transition: .5s color ease;
    text-stroke: 1px #fff;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    transition: .5s all ease;
}

.HomeUi__Header h1 span.Active {
    color: #000;
}

.HomeUi__Header.Active h1 span {
    color: #000;
}

.HomeUi__Right {
    text-align: right;
    transition: .5s transform ease;
    position: fixed;
    bottom: 1vw;
    right: 4vw;
    z-index: 15;
    display: block;
    width: 27%;
}

.HomeUi__Right>div {
    margin-bottom: 1em;
}

.HomeUi___Menu {
    margin: 0;
    display: block;
    list-style-type: none;
    padding: 0;
    font-family: 'IBM Plex Mono', monospace;
}

.HomeUi___Menu li {
    margin-bottom: 16px;
}

.HomeUi___Menu li>span {
    opacity: 1;
    color: #000;
}

.HomeUi___Menu li.current a {
    text-decoration: underline !important;
}

.HomeUi.Dark {
    color: #000;
}

.HomeUi.Dark a {
    color: #000;
}

.HomeUi.Dark button {
    color: #000;
}

.HomeUi.Dark .HomeUi__Header h1 span {
    text-stroke: 1px #000;
    -webkit-text-stroke: 1px #000;
}

.HomeUi.Dark .HomeUi__Header h1 span.Active {
    color: #000;
}

.HomeUi.Dark .HomeUi__Header.Active h1 span {
    color: #000;
}

.HomeUi__Header.Dark h1 span {
    text-stroke: 1px #000;
    -webkit-text-stroke: 1px #000;
}

.HomeUi__Header.Dark h1 span.Active {
    color: #000;
}

.HomeUi__Burger {
    display: none;
}



/*------------------------------------------------------------------
[4. Border]
*/

.Border>span {
    background: transparent;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 1s ease;
    z-index: 10;
}

.Border>span:nth-child(1) {
    transform: translateY(calc(1vw - 100%));
}

.Border>span:nth-child(2) {
    transform: translateY(calc(100% - 1vw));
}

.Border>span:nth-child(3) {
    transform: translateX(calc(100% - 1vw));
}

.Border>span:nth-child(4) {
    transform: translateX(calc(1vw - 100%));
}

.Border.Faded>span:nth-child(1) {
    transform: translateY(0);
}

.Border.Faded>span {
    background: #fff;
}

/*------------------------------------------------------------------
[5. Subpage]
*/

.Subpage {
    z-index: 12;
    display: none;
    opacity: 0;
    color: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--bg-gray);
}

.Subpage__Content {
    padding: 2vw 0 1.9vw 0;
    width: 72vw;
    float: right;
    margin-right: 20vw;
    font-family: 'IBM Plex Mono', monospace;
}

.Subpage__Content>img {
    display: block;
    width: 100%;
    margin: 3em 0;
}

.Subpage__Close {
    color: #000;
    position: fixed;
    top: 50%;
    left: 0vw;
    text-decoration: none;
    transition: .5s color ease, .5s transform ease;
    transform: translateX(-10vw);
    display: inline-block;
    text-transform: uppercase;
}

.Subpage__Close span {
    opacity: .5;
    font-weight: 400;
}

.Subpage__Close:hover {
    font-weight: 700;
}

.Subpage.Loaded .Subpage__Close {
    transform: translateX(0);
}

.Subpage__Content a {
    text-decoration: underline;
    color: #000;
}

.Subpage__Content a:hover {
    text-decoration: underline;
}

.Subpage__Close {
    font-family: 'FK-roaster', Monaco, Arial, sans-serif !important;
    font-size: 27px;
    font-size: 2.7rem;
}


/*------------------------------------------------------------------
[6. Mobile breakpoint]
*/

@media (min-width:768px) and (max-width:1100px) {
    body {
        font-size: 1.5vw;
    }

    .TheList .TheList__EntryDetails {
        top: 2em;
    }

    .Subpage__Close {
        left: 3.2vw;
    }
}

@media (max-width:767px) {
    body {
        font-size: 4vw;
    }

    h1 {
        letter-spacing: 1.5vw;
        line-height: 7.4vw;
        font-size: 8vw;
    }

    h2 {
        letter-spacing: 1.5vw;
        line-height: 15vw;
        padding-left: 0;
        margin-left: 0;
        font-size: 15vw;
        text-stroke: .6vw #000;
        -webkit-text-stroke: .6vw #000;
    }

    h3 {
        font-size: 9vw;
    }

    .HomeUi__Header {
        top: 4vw;
        right: 4vw;
        padding: 3vw;
        transform-origin: 100% 0%;
        transition: .5s background ease, .5s transform ease;
    }

    .HomeUi__Header img {
        display: block;
        width: 25vw;
    }

    .HomeUi.Subsection .HomeUi__Header {
        background: transparent;
        transition-delay: .3s;
        transform: scale(0.5);
    }

    .Border>span:nth-child(1) {
        transform: translateY(calc(3vw - 100%));
    }

    .Border>span:nth-child(2) {
        transform: translateY(calc(100% - 3vw));
    }

    .Border>span:nth-child(3) {
        transform: translateX(calc(100% - 3vw));
    }

    .Border>span:nth-child(4) {
        transform: translateX(calc(3vw - 100%));
    }

    .Subpage__Content {
        padding: 20vw 10vw 10vw 10vw;
        width: 100%;
        box-sizing: border-box;
        float: none;
    }

    .Subpage__Content>img {
        display: block;
        width: 100%;
        margin: 2em 0;
    }

    .Subpage__Close {
        transform: translateX(-20vw) rotate(-90deg);
        transform-origin: 50% 50%;
        left: 5.2vw;
    }

    .Subpage.Loaded .Subpage__Close {
        transform: translateX(-8vw) rotate(-90deg);
    }

    .Subpage__Content h2 {
        margin-top: 0;
    }

    .TheList__Wrapper {
        padding-bottom: 2vw;
        padding-top: 7vw;
    }

    .TheList li {
        max-width: 64%;
        padding-left: 6vw;
    }

    .TheList .TheList__EntryDetails {
        margin-bottom: .3em;
        display: block;
        position: static;
    }

    .TheList .TheList__Title {
        margin-left: 0;
        padding-left: 0;
    }

    .TheList .TheList__Title i {
        display: none;
    }

    .TheList .TheList__Title::before {
        display: none;
    }

    .HomeUi__Right {
        background: #fff;
        color: #000;
        right: 0;
        bottom: 0;
        width: 100%;
        padding: 3vw;
        transform: translateY(100%);
    }

    .HomeUi__Right a {
        color: #000;
    }

    .HomeUi__Burger {
        display: block;
        position: absolute;
        bottom: 100%;
        margin-bottom: 4vw;
        right: 4vw;
        border: none;
        background: none;
        outline: 0;
        color: #fff;
        text-transform: uppercase;
        transition: .3s transform ease;
    }

    .HomeUi__Burger .Close {
        display: none;
    }

    .HomeUi__Right.Active {
        transform: translateY(0%);
    }

    .HomeUi__Right.Active .HomeUi__Burger {
        transform: translateY(2vw);
    }

    .HomeUi__Right.Active .HomeUi__Burger .Open {
        display: none;
    }

    .HomeUi__Right.Active .HomeUi__Burger .Close {
        display: block;
    }

    .HomeUi.Dark .HomeUi__Right {
        transform: translateY(150%);
    }
}

@media (max-width:768px) and (orientation:landscape) {
    body::before {
        display: block;
        position: fixed;
        background: #FFF;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: ' ';
        z-index: 99999;
    }

    body::after {
        display: block;
        position: fixed;
        top: 50%;
        left: 50%;
        white-space: nowrap;
        transform: translate3d(-50%, -50%, 0);
        content: 'Please rotate your device';
        color: #000;
        z-index: 99999;
    }
}

.IEInfo {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    color: #FFF;
    z-index: 99999999;
    padding: 40px;
    box-sizing: border-box;
}

/* IE10 and IE11 */
@media all and (-ms-high-contrast:none) {
    .IEInfo {
        display: block !important;
    }
}


/*------------------------------------------------------------------
[7. Effects]
*/

.Vignette {
    content: ' ';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}

.Noise {
    content: ' ';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(noise.gif);
    opacity: 0.05;
}



/*-------------------------Custom Styles--------------*/

.marquee-container {
    position: fixed;
    width: 100%;
    top: 48px;
}

.marquee {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    width: 83%;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 120s linear infinite;
    font-family: 'FK-roaster', Monaco, Arial, sans-serif;
    font-size: 27px;
    font-size: 2.7rem;
    color: #000;
    letter-spacing: 3px;
    text-transform: uppercase;

}

.marquee2 span {
    animation-delay: 2s;
}

@keyframes marquee {
    0% {
        transform: translate(-100%, 0);
    }

    100% {
        transform: translate(0%, 0);
    }
}

.flip-this {
    -webkit-animation: flip 1s;
    animation: flip 1s;
}

@-webkit-keyframes flip {
    from {
        transform: rotateY(90deg)
    }

    to {
        transform: rotateY(0deg)
    }
}

@keyframes flip {
    from {
        transform: rotateY(90deg)
    }

    to {
        transform: rotateY(0deg)
    }
}

.footer-fonca p {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 11px;
    color: #000;
    text-align: right;
}

.footer-logo-img {
    width: 75%;
    clear: both;
    display: block;
    margin: 0px 0px 0px auto;
}


.sub-page-content p {
    font-size: 14px;
    font-size: 1.4rem;
    font-family: 'IBM Plex Mono', monospace;
}


.sub-page-content .block-section {
    display: block;
    clear: both;
    margin-bottom: 70px;
}

.block-section .row {
    display: flex;
    flex-wrap: wrap;
}

.block-section .row .col-item {
    display: flex;
    flex: 0 0 50%;
}

.block-section .row .col-item .col-img {
    width: 100%;
    display: inline-flex;
    flex: 0 0 50%;
    max-width: 50%;
    max-height: 160px;
}

.block-section .row .col-item .col-img img,
.block-section .row .col-item img {
    width: 100%;
    height: auto;
    display: block;
}


.content-info p.m-0 {
    margin: 0px;
}

.content-info h4.mb-0{
    margin-bottom: 0px;
}

.block-section .col-item .col-text {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 0 0 50%;
}

.text-uppercase {
    text-transform: uppercase;
}

.block-section .col-item .col-text h4 {
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 16px;
    font-size: 1.6rem;
}

#Subpage .sub-page-content h2.title-icon {
    display: flex;
    align-items: normal;
}

#Subpage #subpage-menu-content {
    position: fixed;
    right: 4%;
    bottom: 132px;
    text-align: right;
    opacity: 1;
    color: #000;
    margin-bottom: 40px;
}

#Subpage #subpage-menu-content a {
    opacity: 1;
    color: #000;
    text-decoration: none;
}

.sub-page-content .main-content {
    margin-top: 40px;
}

.ct-btn {
    display: flex;
    flex-direction: row;
}

.ct-btn>a {
    margin-right: 20px;
}


.sub-page-content .media-content.video-container {
    display: block;
    clear: both;
    margin: 20px auto;
    width: auto;
}

.sub-page-content .media-content.video-container video{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    height: auto;
}


#about-content .team-item ul.team-social-list {
    list-style-type: none;
    padding: 0px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: normal;
    align-items: center;
}

#about-content .team-item ul.team-social-list li {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 0px;
    margin-right: 15px;
}

#about-content .team-item ul.team-social-list li:last-child {
    margin-right: 0px;
}

#about-content .team-item ul.team-social-list li{
    font-style: normal;
}

#about-content .team-item ul.team-social-list li.weeeb{
    width: auto !important; 
}

#about-content .team-item ul.team-social-list li a {
    display: block;
}


#about-content .team-item ul.team-social-list li a:hover, ul.team-social-list li a:focus {
    filter: opacity(0.5);
}


#about-content .team-item ul.team-social-list li a img {
    width: 100%;
    display: block;
}


#about-content .block-section#about-integrantes .col-item {
    flex: 0 0 48%;
    margin-right: 16px;
}

#about-integrantes>div>div:nth-child(2) {
    margin: 0px !important;
}

#about-content .block-section#about-integrantes .row .col-item .col-img {
    width: 100%;
    display: inline-flex;
    flex: 0 0 50%;
    max-width: 45%;
    max-height: 160px;
    margin-right: 16px;
    flex-shrink: 0;
}

#about-content .block-section#about-colaboradores .colabs-imgs {
    align-items: normal;
    justify-content: normal;
    width: 100%;
}

#about-content .block-section#about-colaboradores .colabs {
    flex: 0 0 auto;
    display: inline-flex;
    float: left;
    max-width: 30%;
}

#about-colaboradores .colabs img {
    width: 70%;
}

#about-colaboradores>div>div:nth-child(3) {
    position: relative;
    bottom: 24px;
}


#about-content .block-section#about-aliados .aliadosimg {
    flex: 0 0 33.33%;
    max-width: 30%;
}

#about-aliados>div .aliado-1 img {
    width: 40%;
}

#about-content .link-year {
    display: inline-block;
    margin-right: 48px;
}

#old-years {
    margin-top: 40px
}

.sub-page-content .content-img img {
    width: 100%;
    height: auto;
}

#about-content a.big-title-btn.outline-title {
    text-decoration: none;
    font-size: 70px;
    font-family: 'Hanson', Helvetica, Arial, sans-serif;
    color: transparent;
    transition: .3s all ease;
}

#about-content a.big-title-btn.outline-title:hover {
    color: #000;
}

#programacion-content .block-section#prog-wrapper .row {
    align-items: normal;
    justify-content: space-between;
    width: 100%;
}

#programacion-content .block-section#prog-wrapper .col-item {
    flex: 0 0 33.33%;
    max-width: 30%;
    background-size: contain;
    -webkit-transition: all .2s ease-in-out,
        -webkit-transform .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#programacion-content .block-section#prog-wrapper .col-item:hover,
#programacion-content .block-section#prog-wrapper .col-item:focus {
    opacity: .9;
    -webkit-transform: scale(1.045);
    transform: scale(1.045);
}

#programacion-content .block-section#prog-wrapper .col-item a {
    width: 100%;
    min-height: 240px;
    display: block;
    margin: 0px auto;
    text-indent: -99999px
}


#programacion-content .block-section#prog-wrapper .col-item #prog-bc {
    background: transparent url("images/botones/programacion/BC-boton.png") no-repeat center center / contain;
}

#programacion-content .block-section#prog-wrapper .col-item #prog-cdmx {
    background: transparent url("images/botones/programacion/CDMX-boton.png") no-repeat center center / contain;
}

#programacion-content .block-section#prog-wrapper .col-item #prog-trc {
    background: transparent url("images/botones/programacion/TRC-boton.png") no-repeat center center / contain;
}

#prog-wrapper {
    margin-top: 10%;
}


#programacion-content .footer-info .ct-btn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 20px;
}

.sub-programacion .prog-title-img {
    width: 40px;
    display: inline-block;
}

.sub-programacion .main-content .content-info h3 {
    text-transform: uppercase;
}

.sub-programacion .main-content .content-info h4 {
    text-transform: uppercase;
}

.sub-programacion .block-section .row {
    margin-bottom: 50px;
}

#gifs-wrapper{
    margin-top: 10%;
}


#gifs-content .block-section#gifs-wrapper .row {
    align-items: normal;
    justify-content: space-between;
    width: 100%;
}

#gifs-content .block-section#gifs-wrapper .col-item {
    flex: 0 0 33.33%;
    max-width: 30%;
    background-size: contain;
    -webkit-transition: all .2s ease-in-out,
        -webkit-transform .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#gifs-content .block-section#gifs-wrapper .col-item:hover,
#gifs-content .block-section#gifs-wrapper .col-item:focus {
    opacity: .9;
    -webkit-transform: scale(1.045);
    transform: scale(1.045);
}

#gifs-content .block-section#gifs-wrapper .col-item .img-item {
    width: 100%;
}

#gifs-content .block-section#gifs-wrapper .col-item a {
    width: 100%;
    min-height: 240px;
    display: block;
    margin: 0px auto;
    text-indent: -99999px
}

.gifs-video-wrapper {
    width: 100%;
}

.gifs-video-wrapper .gif-item {
    width: 100%;
    max-width: 500px;
    height: auto;
}

.gifs-video-wrapper .gif-item img {
    width: 100%;
    height: auto;
}

.gifs-video-wrapper .gif-item video{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    height: auto;
}
.gifs-video-wrapper.grid-view {
    display: grid;
    gap: 24px 20px;
    grid-template-areas:
        "even-item even-item . ."
        ". . odd-item odd-item";
}

.gifs-video-wrapper.grid-view .even-item {
    grid-area: even-item;
    position: relative;
}

.gifs-video-wrapper.grid-view .odd-item {
    grid-area: odd-item;
    position: relative;
    bottom: 40px;
}


#gifs-bases-2020 #bases2020-text {
    padding-left: 40px;
}


#conciertos-content .lineup-info .lineup {
    list-style: none;
    padding: 0px;
}

#conciertos-content .lineup-info .lineup li {
    font-size: 20px;
    font-size: 2.0rem;
    padding-left: 0px;
    padding-bottom: 8px;
    margin-bottom: 14px;
    border-bottom: 1.5px solid #000;
    text-transform: uppercase;
}


#conciertos-content .team-item {
    display: flex;
    margin-bottom: 32px;
}

#conciertos-content .team-bio {
    display: inline-flex;
    flex-direction: column;
    background: #fff;
    padding: 0px 24px 20px 24px;
    margin-left: 8px;
}

#conciertos-content .team-bio h4 {
    line-height: normal;
    margin-bottom: 0px;
}

#conciertos-content .team-bio h4 span {
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: normal;
}

#conciertos-content .media-content.video-container {
    display: block;
    clear: both;
    margin: 20px auto;
    width: auto;
}

#conciertos-content .media-content.video-container video{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    height: auto;
}

#conciertos-content .team-item ul.band-links-page {
    list-style-type: none;
    padding: 0px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: normal;
    align-items: center;
}

#conciertos-content .team-item ul.band-links-page li {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 0px;
    margin-right: 20px;
}

#conciertos-content .team-item ul.band-links-page li a {
    display: block;
}


#conciertos-content .team-item ul.band-links-page li a:hover, ul.band-links-page li a:focus {
    filter: opacity(0.5);
}


#conciertos-content .team-item ul.band-links-page li a img {
    width: 100%;
    display: block;
}

#conciertos-content .team-item .img-bio {
    background: #fff;
    width: 110px;
    height: 110px;
    border-radius: 100px;
    display: inline-flex;
    text-align: center;
    align-items: center;
    flex-shrink: 0;
}

#conciertos-content .team-item .img-bio img {
    width: 100%;
    height: auto;
    border-radius: 100px;
}


@media only screen and (min-width : 2400px) {

    html {
    font-size: 100%
    }

}


@media (min-width:768px) and (max-width:1100px) {

    .TheList .TheList__Title {
        font-size: 60px;
        font-size: 6rem;
    }

    .fonima-web-page .fonima-ui-custom .TheList__Wrapper {
        padding-bottom: 2vw;
        padding-right: 0px;
        padding-top: 140px;
    }

    .fonima-web-page .fonima-ui-custom .TheList .TheList__Title {
        line-height: normal;
    }

    .HomeUi__Header {
        top: 10vw;
    }

    .marquee-container {
        position: fixed;
        width: 100%;
        top: 0;
    }

    .marquee {
        margin: 0 auto;
        white-space: nowrap;
        overflow: hidden;
        position: absolute;
        width: 100%;
    }

    .block-section .row {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        flex-direction: column;
    }

    .block-section .row .col-item {
        margin-bottom: 30px;
        width: 100%;
        max-width: none;
    }

    .fonima-web-page .Subpage__Content {
        padding: 24vw 5vw 10vw 10vw;
        width: 100%;
        box-sizing: border-box;
        float: none;
        overflow-x: hidden;
        max-width: 100%;
    }

    #about-colaboradores .row {
        display: flex;
        flex-direction: row;
    }


    #programacion-content .block-section#prog-wrapper .row {
        flex-direction: row;
        margin-top: 40px;
    }


    #programacion-content .block-section#prog-wrapper .col-item {
        flex: 0 0 50%;
        max-width: 50%;
    }

    #prog-wrapper {
        margin-top: 10%;
    }

    .ct-btn {
        display: flex;
        flex-direction: row;
    }

    .ct-btn>a {
        margin-right: 20px;
    }

    #gifs-content .block-section#gifs-wrapper .row {
        align-items: normal;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
        margin-top: 28px;
    }

    #gifs-content .block-section#gifs-wrapper .row {
        flex-direction: row;
        margin-top: 40px;
    }

    #gifs-content .block-section#gifs-wrapper .col-item {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .gifs-video-wrapper.grid-view {
        display: flex;
        gap: 0;
        grid-template-areas: none;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        align-content: space-around;
        height: 100%;
        width: 100%;
    }

    .gif-item {
        grid-area: none;
        margin-bottom: 24px;
        display: block;
        clear: both;
        width: 100%;
        max-width: 100%;
        position: static !important;
        flex: 0 0 100%;
    }

}


@media (max-width:767px) {
    .fonima-web-page .fonima-ui-custom .TheList__Wrapper {
        padding-bottom: 2vw;
        padding-right: 0px;
        padding-top: 140px;
    }

    .fonima-web-page .fonima-ui-custom .TheList .TheList__Title {
        font-size: 38px;
        font-size: 3.8rem;
        line-height: normal;
    }

    .fonima-web-page .TheList .TheList__Title {
        margin-left: 0;
        padding-left: 0;
        overflow-wrap: break-word;
        width: 100%;
        word-break: break-all;
    }

    .fonima-web-page .TheList__List {
        width: 100%;
        max-width: 95% !important;
        overflow-x: hidden;
    }


    .sub-page-content .block-section {
        display: block;
        clear: both;
        margin-bottom: 50px;
    }

    .fonima-web-page .TheList li {
        width: 100%;
        max-width: 100% !important;
    }

    .Subpage__Content h2 {
        margin-top: 0;
        font-size: 35px;
        font-size: 3.5rem;
    }

    .fonima-web-page h3.outline-title div {
        text-overflow: ellipsis;
        word-break: break-word;
        overflow-wrap: break-word;
    }

    .fonima-web-page h3.outline-title {
        overflow-wrap: break-word;
        width: 100%;
        word-break: break-all;
        font-size: 30px;
        font-size: 3rem;
    }

    .fonima-web-page .col-text h4 {
        margin-bottom: 4px;
        font-size: 28px;
        font-size: 2.8rem;
    }

    .footer-fonca {
        display: block;
        clear: both;
        width: 90%;
        right: auto;
        position: relative;
        float: right;
    }

    .HomeUi__Header {
        top: 10vw;
    }

    .marquee-container {
        position: fixed;
        width: 100%;
        top: 0;
    }

    .marquee {
        margin: 0 auto;
        white-space: nowrap;
        overflow: hidden;
        position: absolute;
        width: 100%;
    }

    .block-section .row {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        flex-direction: column;
    }


    #Subpage #subpage-menu-content {
        position: fixed;
        right: 0;
        bottom: 0px;
        text-align: right;
        opacity: 1;
        color: #000;
        background: #ffffff9c;
        padding: 10px 10px;
        display: none;
    }

    .fonima-web-page .Subpage__Content {
        padding: 24vw 5vw 10vw 10vw;
        width: 100%;
        box-sizing: border-box;
        float: none;
        overflow-x: hidden;
        max-width: 100%;
    }

    .fonima-web-page .Subpage__Close {
        left: 10px;
        font-size: 20px;
        font-size: 2rem;
    }

    .fonima-web-page .sub-page-content .block-section .main-content {
        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
    }

    .fonima-web-page .sub-page-content .block-section .ct-btn .btn-ouline {
        margin-bottom: 20px;
    }

    .fonima-web-page .sub-page-content .block-section .main-content .content-info h3,
    .fonima-web-page .sub-page-content .block-section .main-content .content-info h4 {
        word-break: break-word;
        text-transform: uppercase;
        text-overflow: clip;
        overflow-wrap: break-word;
        white-space: break-spaces;
    }

    #about-content .block-section#about-integrantes .col-item {
        flex: 0 0 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex-shrink: 1;
        margin: 0px auto 32px auto;
    }

    #about-content .block-section#about-integrantes .row .col-item .col-img {
        width: 100%;
        display: block;
        flex: 0 0 50%;
        max-width: 100%;
        max-height: none;
        margin-right: 0px;
        margin-bottom: 20px;
        flex-shrink: 0;
    }

    #about-content .block-section#about-colaboradores .col-item {
        flex: 0 0 100%;
        max-width: 80%;
        display: block;
        margin: 0px 0px 20px 0px;
    }

    #about-content .block-section#about-aliados .col-item {
        flex: 0 0 auto;
        max-width: 80%;
        display: block;
    }

    #about-content .link-year {
        display: block;
        clear: both;
        margin: 0px 0px 24px 0px;
    }

    #about-intro>p {
        width: 75%;
    }


    #programacion-content .block-section#prog-wrapper .col-item {
        flex: 0 0 auto;
        max-width: 100%;
        width: 100%;
        background-size: contain;

    }

    #programacion-content-bc>h2 {
        font-size: 35px;
        font-size: 3.5rem;
    }

    #programacion-content-bc>h2>div>span:nth-child(5) {
        width: 150px;
    }

    #conciertos-content .team-item {
        display: flex;
        margin-bottom: 32px;
        flex: 0 0 100%;
        flex-wrap: wrap;
        justify-content: center;
    }

    #conciertos-content .team-item .img-bio {
        background: #fff;
        width: 100%;
        height: auto;
        border-radius: 100%;
        display: block;
        text-align: center;
        align-items: center;
        flex-shrink: initial;
        margin-bottom: 20px;
    }

    #conciertos-content .team-item .img-bio img {
        width: 100%;
        height: auto;
        border-radius: 100%;
    }

    #gifs-content>h2 {
        font-size: 40px;
        font-size: 4rem;
        text-align: center;
    }

    #gifs-content .block-section#gifs-wrapper .row {
        align-items: normal;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
        margin-top: 28px;
    }

    #gifs-content .block-section#gifs-wrapper .col-item {
        flex: 0 0 auto;
        max-width: 100%;
        width: 100%;
        background-size: contain;
        -webkit-transition: all .2s ease-in-out, -webkit-transform .2s ease-in-out;
        transition: all .2s ease-in-out;
    }

    .gifs-video-wrapper.grid-view {
        display: flex;
        gap: 0;
        grid-template-areas: none;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        align-content: space-around;
        height: 100%;
        width: 100%;
    }

    .gif-item {
        grid-area: none;
        margin-bottom: 24px;
        display: block;
        clear: both;
        width: 100%;
        max-width: 100%;
        position: static !important;
        flex: 0 0 100%;
    }

    .bg-12,
    .contact-content {
        background: var(--bg-gray) url(images/backgrounds/BG-12.png) no-repeat 0px 0px / cover;
        background-size: cover;
        background-position: bottom center;
    }

    .bg-9,
    .gifs-ganadores-2019 {
        background: var(--bg-gray) url(images/backgrounds/BG-9.png) no-repeat 0px 0px / cover !important;
        background-position: center top !important;
    }

}





